{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="text/css" href="{% static 'images/pic1.jpg' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
{% include 'app_html/navbar.html' %}
{% block content %}

{% endblock %}
<footer class="bg-dark text-white pt-3 mt-5 pb-4">
	<div class="container text-center text-md-left">
		<div class="row text-center text-md-left" >
			<div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
				<h5 class="text-uppercase mb-4 font font-weight-bold text-warning">Website Name</h5>
				<p>Yummy Stack</p>
			</div>
			<div class="col-md-2 col-lg-2 col-xl-3 mx-auto mt-3">
				<h5 class="text-uppercase mb-4 font font-weight-bold text-warning">Products</h5>
				<p>
					<a href="{% url 'sp' %}" class="text-light" style="text-decoration:none;">Sweets</a>
				</p>
				<p>
					<a href="{% url 'snli' %}" class="text-light" style="text-decoration:none;">Snacks</a>
				</p>
				<p>
					<a href="{% url 'mik' %}" class="text-light" style="text-decoration:none;">Milkshake</a>
				</p>
			</div>
			<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
				<h5 class="text-uppercase mb-4 font font-weight-bold text-warning">Contact</h5>
				<p>
					<i class="fas fa-home mr-3"></i>Kakinada,Andhra Pradesh,pin-533003
				</p>
				<p>
					<i class="fas fa-envelope mr-3"></i>yumst00@gmail.com
				</p>
				<p>
					<i class="fas fa-phone mr-3"></i>9728723456
				</p>
			</div>
			
		</div>
	</div>
</footer>
</body>
</html>