{% extends 'app_html/base.html' %}
{% block title %}Logout{% endblock %}
{% block content %}
<div class="container pt-4">
	<div class="card col-md-4 mx-auto shadow-lg mx -2 my-2">
		<div class="card-body">
			<h3>Logout</h3>
			<p>Are you sure you want to logout?</p>
			<div class="row">
				<div class="col">
					<a href="{% url 'hm' %}" class="btn btn-outline-danger form-control mx-2 my-2">Yes</a>
					
				</div>
				<div class="col">
					<a href="{% url 'log' %}" class="btn btn-outline-warning form-control mx- my-2">No</a>
					
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}