{% extends 'app_html/base.html' %}
{% load static %}
{% block title %}Snackview{% endblock %}
{% block content %}
  <div class="container pt-5">
  	<div class="card col-md-8 mx-auto shadow-lg mx-2 my-2">
  		<div class="card-body">
  			<h3 style="color:blue;text-align:center;font-family:serif;"><i>Snack View</i></h3>
  			<div class="row">
  				<div class="col col-sm">
  					<img src="{{ h.simage.url }}">
  					
  				</div>

  				<div class="col col-md">
  			<table class="table table-borderless-striped table-hover">
  				<tr>
  				<th>Snack Name</th>
  				<td>{{h.sname}}</td>
  			</tr>
  			<tr>
  				<th>Snack Price</th>
  				<td>{{h.sprice}}</td>
  			</tr>
  			<tr>
  				<th>Snack Availiblity</th>
  				<td>{% if h.savailability == 'AV' %}
                 <span class="badge badge-warning">Available</span>
                 {% else %}
                 <span class="badge badge-danger">Not Available</span>
                 {% endif %}
  				</td>
  			</tr>
  			</table>
  			<a href="{% url 'snac' %}" class="btn btn-outline-dark text-warning form-control ">Back to list</a>
  			</div>
  		</div>
  			
  		</div>
  		
  	</div>
  	
  </div>
{% endblock %}